*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
font-family: Arial, Helvetica, sans-serif;
background-image: linear-gradient(45deg,  #ff0019 10%, #0069fc ,#000000, #ff00ff );
background-attachment: fixed; 
line-height: 1.5;
}

header {
background-color: #0000004f;
color: #f5f5f5;
padding: 1em;
text-align: center;
}

main {
padding: 20px;
border-radius: 10px;
display: flex;
flex-direction: column;
}

section {
background-color: #131212;
width: 90%;
max-width: 1100px;
margin: 0 auto ;
padding: 20px;
border: 1px solid #00000002;
box-shadow: 0 2px 4px rgba(2, 2, 2, 0.1);
}

.imagem {
    max-width: 100%;
    display: flex;
    justify-content: center; 
}

img {
    max-width: 100%;
    
}

h2 {
text-align: center;
color: white;
margin: 0;
padding: 10px;
}

.categoria{
    background-color: #00000033;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.categoria ul{
    background-color: #00000000;
    list-style: none;
    list-style-position:inside;
    columns: 2;
}

li {
padding: 10px;
}

a {
color: #fafafd;
text-decoration: none;
background-color: #00000054;
box-shadow: 0 2px 4px rgba(2, 2, 2, 0.1);
border-radius: 5px;
padding: 10px;
}

a:hover {
color: #050505;
background-color: #fefeff6e;
}

footer {
background-color: #333;
color: #fff;
padding: 1em;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}

